<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eslamee">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="eslamee.ESlamEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EslamEMainActivity">
        <intent-filter>
            <action android:name="android.intent.action.EslamEMainActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity android:name="eslamee.services.home.usersign_services.EslamESignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.SIGNUPACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eslamee.services.home.usersign_services.EslamELoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".services.home.getfriend.FriendList">
            <intent-filter>
                <action android:name="android.intent.action.FRIENDLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".services.home.getfriend.FullFriendInfo">
            <intent-filter>
                <action android:name="android.intent.action.FULLFRIEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>